.DS_Store

# Rust/Cargo build output
**/target/
**/.build/

# macOS
.AppleDouble
.LSOverride

# Xcode user data
**/*.xcuserstate
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
